name: build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install
        run: |
          npm install

      - name: npm lint
        run: |
          npm run lint

      - name: npm test
        run: |
          npm test
        env:
          FORCE_COLOR: 1

      - name: Upload failed screenshot tests
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: screenshots
          path: test/__image_snapshots__/__diff_output__/*

      - name: Coveralls
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.github_token }}

      - name: npm build
        run: |
          npm run build

      - name: npm publish
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          npm config set //registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN
          npm run trypublish
        env:
          CI: true
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
